@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-custom-sans: "Space Grotesk", sans-serif;
  --screen-sm: 640px;
  --color-zinc-50: #f8f9fa;
  --color-zinc-100: #f1f3f5;
  --color-zinc-200: #e9ecef;
  --color-zinc-300: #dee2e6;
  --color-zinc-400: #ced4da;
  --color-zinc-500: #adb5bd;
  --color-zinc-600: #868e96;
  --color-zinc-700: #495057;
  --color-zinc-800: #343a40;
  --color-zinc-900: #212529;
  --color-zinc-950: #121416;
}

@utility external-link {
  @apply underline underline-offset-2 decoration-yellow-500;
}

@utility global-focus {
  @apply outline-hidden ring-2 ring-zinc-300/50 dark:ring-zinc-700/50;
}

@utility action-item {
  @apply h-9 flex items-center justify-center rounded-md border border-b-2 border-zinc-200 dark:border-zinc-700 focus-visible:global-focus bg-zinc-50 dark:bg-zinc-800 cursor-pointer;
}

@utility icon-button {
  @apply w-10 h-10 flex items-center justify-center *:shrink-0 rounded-sm p-1 text-zinc-900 dark:text-zinc-50 bg-white dark:bg-zinc-800 hover:bg-zinc-200 dark:hover:bg-zinc-700 border border-zinc-200 dark:border-zinc-700 focus-visible:global-focus text-xl cursor-pointer;
}

@utility glowing-card {
  @apply absolute top-0 left-0 w-full h-1/3 bg-radial-[at_50%_0%] to-50% from-zinc-800/50 to-transparent -z-10;
}

@utility debug {
  @apply outline outline-red-400 **:outline;
}

* {
  transition: all 250ms, color, background-color, border-color,
    text-decoration-color, fill, stroke 100ms;
}

html {
  @apply m-0 p-0 font-custom-sans antialiased;
}

body {
  @apply w-full min-w-80 bg-zinc-50 dark:bg-zinc-950 text-zinc-800 dark:text-zinc-100;
}

.filter-fade-enter {
  @apply opacity-0 invisible max-h-0;
}

.filter-fade-enter-active {
  @apply transition-all duration-300 ease-out opacity-100 visible max-h-96;
}

.filter-fade-exit {
  @apply opacity-100 visible max-h-96;
}

.filter-fade-exit-active {
  @apply transition-all duration-300 ease-in opacity-0 invisible max-h-0;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.98);
  }
}

.animate-fade-in {
  animation: modalFadeIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-fade-out {
  animation: modalFadeOut 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
